<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'add_subtitles'  %}">add subtitles</a>
    <br>
    <a href="#">Trim a video</a>
    <br>
    <a href="{% url 'to_audio' %}">convert video into audio</a>
    <br>
    <a href="{% url 'change_format' %}">change a video’s format</a>
    <br>
    <a href="{% url 'extract_frames' %}">break the video into its individual frames</a>
    <br>
    <a href="">speed up and slow down the video</a>
    <br>
    <a href="">change a video's fps</a>
    <br>
    <a href="">Video enhancement and upscaling</a>
    <br>
    <a href="">Colorization</a>
    <br>
    <a href="">Deep fake detection</a>
    <br>
    <a href="">combine multiple videos</a>
    <br>
    <a href="{% url 'add_audio' %}">Add audio to video</a>
    <br>
    <a href="{% url 'reverse' %}">Reverse video</a>
</body>
</html>
